.hamburgerButton {
  z-index: 500;
  position: fixed;
  top: 1.5em;
  right: 1.5em;
  appearance: none;
  border: 0;
  cursor: pointer;
  background-color: unset;
}

.hamburgerButton rect {
  transition: 0.4s ease-in-out;
  transform-box: fill-box;
}

.hamburgerButton rect.middle {
  transform-origin: 50px 10px;
}

.hamburgerButton.open rect.middle {
  transform: scale(0);
  opacity: 0.3;
}

.hamburgerButton rect.top-left {
  transform-origin: 10px 10px;
}

.hamburgerButton.open rect.top-left {
  transform: rotate(45deg);
  width: 71px;
}

.hamburgerButton rect.top-right {
  transform-origin: 50px 10px;
}

.hamburgerButton.open rect.top-right {
  transform: rotate(-45deg) translateX(-11px);
  width: 71px;
}

.hamburgerButton rect.bottom-left {
  transform-origin: 10px 10px;
}

.hamburgerButton.open rect.bottom-left {
  transform: rotate(-45deg);
  width: 71px;
}

.hamburgerButton rect.bottom-right {
  transform-origin: 50px 10px;
}

.hamburgerButton.open rect.bottom-right {
  transform: rotate(45deg) translateX(-11px);
  width: 71px;
}
