.Display {
  display: flex;
  flex-direction: row;
}

.Display .grid-wrapper {
  flex-grow: 1;
  overflow: hidden;
  position: relative;
}

.Display .grid {
  overflow-x: scroll;
  scrollbar-width: none;
  scroll-behavior: smooth;

  mask-image: linear-gradient(
    to right,
    transparent,
    black var(--left-mask-size),
    black calc(100% - var(--right-mask-size)),
    transparent
  );

  display: grid;
  grid-auto-columns: 3em;
  grid-template-rows: 3em 3em;
  grid-auto-rows: 3em;
  grid-auto-flow: column;
  gap: .2em;
  justify-content: safe end;
  --left-mask-size: 0px;
  --right-mask-size: 0px;
}
.Display .grid::-webkit-scrollbar {
  display: none;
}
.Display .grid.is-left-overflowing {
  --left-mask-size: 50px;
}
.Display .grid.is-right-overflowing {
  --right-mask-size: 50px;
}
.Display .grid.waiting {
  padding-right: 3.2em;
  transition: padding-right .3s;
}

.header {
  display: grid;
  grid-auto-columns: 3em;
  grid-template-rows: 3em 3em;
  grid-auto-rows: 3em;
  grid-auto-flow: column;
  gap: .2em;
  justify-content: safe end;
  margin: 0 0.75em;
}

.Display .head {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5em;
}
